table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
	width:650px;
	overflow: auto;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	background-color: #d4e3e5;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
.text {
  	border: 2px solid #5E6C77;
  font-size: 12;
  padding: .25em .5em .3125em;
  color: #5E6C77;
  border-radius: 5px;
  background: transparent;
  -webkit-transition: all .100s;
  transition: all .100s;
  height:10px;
	  width:100px; 
  margin-left:10px;
}
.text:focus {
  outline: none;
  color: #A2ACB3;
  border-color: #A2ACB3;
}
.text.keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}
.texts{
	border-radius:5px;
}